<div class="toolbar">
  <mat-toolbar>
    <mat-toolbar-row>
      <button mat-icon-button fxShow="true" fcHide.gt-sm>
        <mat-icon>menu</mat-icon>
      </button>
      <div>
        <a routerLink="#"><img
            src="https://shop.liampayneofficial.com/cdn/shop/files/LP_Letter_001_LIAM_PAYNE_ef861508-a67a-48dd-875b-5af7be19bdb0.png?v=1709033866&width=300"
            alt="Liam Payne" class="logo"></a>
      </div>
      <span class="menu-spacer"></span>
      <div fxShow="true" fxHide.lt-md>
        <a href="#" mat-button> Music</a>
        <a href="#" mat-button> Videos</a>
        <a href="#" mat-button> Tour</a>
        <a href="#" mat-button> Store</a>

      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</div>

<!--<mat-toolbar>
  <span>My Application</span>
</mat-toolbar>-->
